version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5555:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/dist
    working_dir: /app

    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true  # для отслеживания изменений в Docker
      - WATCHPACK_POLLING=true
      - HOST=0.0.0.0  # Явно указываем хост
      - PORT=8080
      - VUE_CLI_SERVER_HOST=0.0.0.0  # специальная переменная для Vue CLI
      - VUE_CLI_SERVER_PORT=8080

    command: sh -c "npm run serve"
    stdin_open: true
    tty: true
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge